body{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #E3E3E5;

  font-family: Rubik;
  font-size: 14px;
}

.test{
  border: 1px solid red;
}

.test1{
  border: 1px solid green;
}

.main{
  display: flex;
}

.section{
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

h3{
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

h4{
  margin-top: 0;

  font-size: 12px;
  font-weight: lighter;
}

.h4_content{
  font-size: 12px;
  font-weight: bold;
}

.h4_content_i{
  margin-top: 10px;

  font-style: italic;
}

h5{
  display: none;
}

.pink_block_sm,
.pink_block_l{
  padding: 10px 0 10px 25px;
  background-color: #e5d1d8;
}

.pink_block_sm{
  width: 200px;
}