body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #E3E3E5;

  font-family: Rubik;
  font-size: 14px;
}

.test {
  border: 1px solid red;
}

.test1 {
  border: 1px solid green;
}

.main {
  display: flex;
  width: 800px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

h4 {
  margin-top: 0;

  font-size: 12px;
  font-weight: lighter;
}

.h4_content {
  font-size: 12px;
  font-weight: bold;
}

.h4_content_i {
  margin-top: 10px;

  font-style: italic;
}

h5 {
  display: none;
}

.about-block {
  width: 320px;
  text-align: justify;
}

.pink_block_sm,
.pink_block_l {
  padding: 10px 0 10px 25px;
  background-color: #e5d1d8;
}

.pink_block_sm {
  width: 200px;
}

.contacts-article {
  display: flex;
}

.contacts-buttons {
  flex-direction: column;
}

.contacts-btn {
  position: relative;
  width: 35px;
}

.contacts-btn:hover {
  opacity: 0.8;
}

.program-img {
  width: 55px;
}

.technologies-block {
  display: flex;
}

.technology-img {
  width: 90px;
}

.linkedin-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px 20px;
  margin-top: 5px;
  border: 2px solid #c32448;
}

.linkedin{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  /*font-weight: lighter;*/
}